.body{
    margin: 0;
    padding:0;
    overflow-x: hidden;
    width: 100%;
}

.navbar{
    position: fixed;
    top:0 ;
    left: 0;
    height: 80px;
    width: 100%;
    background: rgb(164, 231, 250);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    height: 85px;
    transform: translateX(-50px);
}

.home-btn{
    color: #2b2b2b;
   
}

.navbar3{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 90px;
    padding: 0 20px;
}


.home-btn{
    color: #2b2b2b;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar3 h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-left: 30px;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  width: 650px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-row label {
  font-weight: bold;
  font-size: 14px;
}



input[type="text"],textarea{
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 0px rgba(0,0,0,0.5);
  font-size: 14px;
  outline: none;
  width: 200px;
  height: 50px;
  margin-left: 10px;
}

textarea {
  min-height: 100px;
  resize: none;
  width: 500px;
}

form-row top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.left-side , .right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}




.product-type {
  display: flex;
  gap: 10px;
  font-size: 14px;
  flex-direction: column;
  
}


.form-row-center{
    align-items: center;
}

.cuisine-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.cuisine-list label {
  font-weight: normal;
}

.form-row-middle{
    align-item:center ;
}

/* Photo Upload */
.photo-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  justify-content: center;
}

.photo-upload .upload-icon {
  font-size: 20px;
  margin-left: -10px;
}



.add-btn {
    background: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover {
    background: #0056a3;
}